![ec7456fedf57d61fc8e52cb51c3acb47dd-video-game-consoles-for-you-lede.rhorizontal.h600.jpg](ec7456fedf57d61fc8e52cb51c3acb47dd-video-game-consoles-for-you-lede.rhorizontal.h600.jpg.webp)

# Video Games Sales Data
This dataset contains records of popular video games in North America, Japan, Europe and other parts of the world. Every video game in this dataset has at least 100k global sales.

In [3]:
import pandas as pd

vgsales = pd.read_csv("vgsales.csv", index_col=0)
vgsales.head()

                          Name Platform  ...  Other_Sales Global_Sales
Rank                                     ...
1                   Wii Sports      Wii  ...         8.46        82.74
2            Super Mario Bros.      NES  ...         0.77        40.24
3               Mario Kart Wii      Wii  ...         3.31        35.82
4            Wii Sports Resort      Wii  ...         2.96        33.00
5     Pokemon Red/Pokemon Blue       GB  ...         1.00        31.37

[5 rows x 10 columns]

## Data Dictionary

| Column        | Explanation                                                                   |
| ------------- | ----------------------------------------------------------------------------- |
| Rank          | Ranking of overall sales                                                      |
| Name          | Name of the game                                                              |
| Platform      | Platform of the games release (i.e. PC,PS4, etc.)                             |
| Year          | Year the game was released in                                                 |
| Genre         | Genre of the game                                                             |
| Publisher     | Publisher of the game                                                         |
| NA_Sales      | Number of sales in North America (in millions)                                |
| EU_Sales      | Number of sales in Europe (in millions)                                       |
| JP_Sales      | Number of sales in Japan (in millions)                                        |
| Other_Sales   | Number of sales in other parts of the world (in millions)                     |
| Global_Sales  | Number of total sales (in millions)                                           |

[Source](https://www.kaggle.com/gregorut/videogamesales) of dataset.

In [4]:
print(f"The shape of the dataframe:  {vgsales.shape}")
print('\n')
print(f"Unique genres: \n{vgsales.drop_duplicates(subset='Genre')[['Genre']].reset_index(drop = True)}")
# print('\n')
# print(f"Unique Platforms: \n{vgsales.drop_duplicates(subset='Platform')[['Platform']].reset_index(drop = True)}")
print('\n')
print(f"Data from {int(min(vgsales['Year']))} to {int(max(vgsales['Year']))}")

The shape of the dataframe:  (16598, 10)


Unique genres:
           Genre
0         Sports
1       Platform
2         Racing
3   Role-Playing
4         Puzzle
5           Misc
6        Shooter
7     Simulation
8         Action
9       Fighting
10     Adventure
11      Strategy


Data from 1980 to 2020

# Points of Interest
- Top Selling Game Globally.
- 3 Top Selling Games per Regions.
- Top Selling Genre Globally.
- 3 Top Selling Genres per Region.
- Publishers with Top Sales Globally.
- 3 Publishers with Top Sales per Region.
- Platform with the highest Sales Globally.
- Top 3 Platforms Per Region.

## Top Selling Game Globally

In [5]:
vgsales_sorted = vgsales.sort_values(by = 'Global_Sales', ascending = False)
vgsales_sorted.head()

                          Name Platform  ...  Other_Sales Global_Sales
Rank                                     ...
1                   Wii Sports      Wii  ...         8.46        82.74
2            Super Mario Bros.      NES  ...         0.77        40.24
3               Mario Kart Wii      Wii  ...         3.31        35.82
4            Wii Sports Resort      Wii  ...         2.96        33.00
5     Pokemon Red/Pokemon Blue       GB  ...         1.00        31.37

[5 rows x 10 columns]

In [6]:
# Adding Sales of the major regions (NA, EU, JP)
vgsales['NA_EU_JP_Sales'] = vgsales['NA_Sales'] + vgsales['EU_Sales'] + vgsales['JP_Sales']
# Reordering columns for easier readability
vgsales = vgsales.iloc[:, [0,1,2,3,4,5,6,7,10,8,9]]
vgsales.head()

                          Name Platform  ...  Other_Sales Global_Sales
Rank                                     ...
1                   Wii Sports      Wii  ...         8.46        82.74
2            Super Mario Bros.      NES  ...         0.77        40.24
3               Mario Kart Wii      Wii  ...         3.31        35.82
4            Wii Sports Resort      Wii  ...         2.96        33.00
5     Pokemon Red/Pokemon Blue       GB  ...         1.00        31.37

[5 rows x 11 columns]

## 3 Top Selling Games per Regions

In [7]:
# 3 Top Selling Game in NA Region.
NA_region_top_games = vgsales.sort_values(by = 'NA_Sales', ascending = False).iloc[:3]
NA_region_top_games['Region'] = 'NA'
# 3 Top Selling Game in EU Region.
EU_region_top_games = vgsales.sort_values(by = 'EU_Sales', ascending = False).iloc[:3]
EU_region_top_games['Region'] = 'EU'
# 3 Top Selling Game in JP Region.
JP_region_top_games = vgsales.sort_values(by = 'JP_Sales', ascending = False).iloc[:3]
JP_region_top_games['Region'] = 'JP'
# Concatenating all 3 dfs
three_top_games_per_region = pd.concat([NA_region_top_games, EU_region_top_games, JP_region_top_games]).reset_index(drop = True)
three_top_games_per_region.head(10)

                          Name Platform  ...  Global_Sales Region
0                   Wii Sports      Wii  ...         82.74     NA
1            Super Mario Bros.      NES  ...         40.24     NA
2                    Duck Hunt      NES  ...         28.31     NA
3                   Wii Sports      Wii  ...         82.74     EU
4               Mario Kart Wii      Wii  ...         35.82     EU
5            Wii Sports Resort      Wii  ...         33.00     EU
6     Pokemon Red/Pokemon Blue       GB  ...         31.37     JP
7  Pokemon Gold/Pokemon Silver       GB  ...         23.10     JP
8            Super Mario Bros.      NES  ...         40.24     JP

[9 rows x 12 columns]

## Top Selling Genre Globally

In [8]:
top_selling_genre = vgsales.groupby('Genre').agg({'Global_Sales': 'sum'}).reset_index().rename(columns={'Global_Sales': 'Global_Sales_Sum'})
top_selling_genre = top_selling_genre.sort_values(by='Global_Sales_Sum', ascending=False).reset_index(drop = True)
top_selling_genre.head(10)

          Genre  Global_Sales_Sum
0        Action           1751.18
1        Sports           1330.93
2       Shooter           1037.37
3  Role-Playing            927.37
4      Platform            831.37
5          Misc            809.96
6        Racing            732.04
7      Fighting            448.91
8    Simulation            392.20
9        Puzzle            244.95

## 3 Top Selling Genres per Region

In [17]:
# 3 Top Selling Genres in NA Region.
NA_region_top_genres = vgsales.groupby('Genre').agg({'NA_Sales': 'sum'}).reset_index().rename(columns={'NA_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
NA_region_top_genres['Region'] = 'NA'

# 3 Top Selling Genres in EU Region.
EU_region_top_genres = vgsales.groupby('Genre').agg({'EU_Sales': 'sum'}).reset_index().rename(columns={'EU_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
EU_region_top_genres['Region'] = 'EU'

# 3 Top Selling Genres in JP Region.
JP_region_top_genres = vgsales.groupby('Genre').agg({'JP_Sales': 'sum'}).reset_index().rename(columns={'JP_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
JP_region_top_genres['Region'] = 'JP'

# Concatenating above 3 DFs.
top_three_genres_per_region = pd.concat([NA_region_top_genres, EU_region_top_genres, JP_region_top_genres]).reset_index(drop = True)
top_three_genres_per_region.head(10)

          Genre  Sales_Sum Region
0        Action     877.83     NA
1        Sports     683.35     NA
2       Shooter     582.60     NA
3        Action     525.00     EU
4        Sports     376.85     EU
5       Shooter     313.27     EU
6  Role-Playing     352.31     JP
7        Action     159.95     JP
8        Sports     135.37     JP

## Publishers with Top Sales Globally

In [21]:
top_publishers = vgsales.groupby('Publisher').agg({'Global_Sales': 'sum'}).rename(columns = {'Global_Sales': 'Global_Sales_Sum'}).sort_values(by = 'Global_Sales_Sum', ascending = False)
top_publishers.head(10)

                              Global_Sales_Sum
Publisher
Nintendo                               1786.56
Electronic Arts                        1110.32
Activision                              727.46
Sony Computer Entertainment             607.50
Ubisoft                                 474.72
Take-Two Interactive                    399.54
THQ                                     340.77
Konami Digital Entertainment            283.64
Sega                                    272.99
Namco Bandai Games                      254.09

## 3 Publisher with Top Sales per Region

In [26]:
# Top publishers in NA Region
NA_region_top_publishers = vgsales.groupby('Publisher').agg({'NA_Sales': 'sum'}).rename(columns = {'NA_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
NA_region_top_publishers['Region'] = 'NA'

# Top publishers in EU Region
EU_region_top_publishers = vgsales.groupby('Publisher').agg({'EU_Sales': 'sum'}).rename(columns = {'EU_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
EU_region_top_publishers['Region'] = 'EU'

# Top publishers in JP Region
JP_region_top_publishers = vgsales.groupby('Publisher').agg({'JP_Sales': 'sum'}).rename(columns = {'JP_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
JP_region_top_publishers['Region'] = 'JP'

# Concatenating above 3 dfs
top_three_publishers_per_region = pd.concat([NA_region_top_publishers, EU_region_top_publishers, JP_region_top_publishers])
top_three_publishers_per_region.head(10)

                              Sales_Sum Region
Publisher
Nintendo                         816.87     NA
Electronic Arts                  595.07     NA
Activision                       429.70     NA
Nintendo                         418.74     EU
Electronic Arts                  371.27     EU
Activision                       215.53     EU
Nintendo                         455.42     JP
Namco Bandai Games               127.07     JP
Konami Digital Entertainment      91.30     JP

## Platform with the highest Sales Globally

In [31]:
top_platform = vgsales.groupby('Platform').agg({'Global_Sales': 'sum'}).rename(columns = {'Global_Sales' : 'Global_Sales_Sum'}).sort_values(by = 'Global_Sales_Sum', ascending = False)
top_platform.head(10)

          Global_Sales_Sum
Platform
PS2                1255.64
X360                979.96
PS3                 957.84
Wii                 926.71
DS                  822.49
PS                  730.66
GBA                 318.50
PSP                 296.28
PS4                 278.10
PC                  258.82

### Top 3 Platforms Per Region

In [32]:
# Top platforms in NA Region
NA_region_top_platforms = vgsales.groupby('Platform').agg({'NA_Sales': 'sum'}).rename(columns = {'NA_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
NA_region_top_platforms['Region'] = 'NA'

# Top platforms in EU Region
EU_region_top_platforms = vgsales.groupby('Platform').agg({'EU_Sales': 'sum'}).rename(columns = {'EU_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
EU_region_top_platforms['Region'] = 'EU'

# Top platforms in JP Region
JP_region_top_platforms = vgsales.groupby('Platform').agg({'JP_Sales': 'sum'}).rename(columns = {'JP_Sales': 'Sales_Sum'}).sort_values(by = 'Sales_Sum', ascending = False).iloc[:3]
JP_region_top_platforms['Region'] = 'JP'

# Concatenating above 3 dfs
top_three_platforms_per_region = pd.concat([NA_region_top_platforms, EU_region_top_platforms, JP_region_top_platforms])
top_three_platforms_per_region.head(10)

          Sales_Sum Region
Platform
X360         601.05     NA
PS2          583.84     NA
Wii          507.71     NA
PS3          343.71     EU
PS2          339.29     EU
X360         280.58     EU
DS           175.57     JP
PS           139.82     JP
PS2          139.20     JP